.d_container {
    margin: auto;
    width: 80%;
    height: 80vh;
    /* border: 1px solid grey; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.d_left {
    width: 40%;
}

.d_left_heading {
    /* width: 315px; */
    /* height: 68px; */
    /* left: 118px; */
    /* top: 2780px; */

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    /* line-height: 68px; */
    /* identical to box height, or 135% */

    /* text-align: center; */
    letter-spacing: 0.04em;
    color: #0081C9;

}

.d_left_content {
    /* width: 501px; */
    /* height: 136px; */
    padding: 40px 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* or 189% */


    color: #000000;
}

.d_right {
    width: 60%;
    position: relative;
}

.top_img {
    position: absolute;
    top: 10%;
    left: 10%;
    /* bottom: 0; */
}

.bottom_img {
    position: absolute;
    top: 35%;
    right:0%;
}

.join {
    position: absolute;
    color: white;
    bottom: 30%;
    font-family: 'Urbanist';
    left: 20%;
    font-size: 12px;
    padding: 10px 100px;
    background-color: #0081C9;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.17em;
}